<% include ./partials/header.ejs %>

<link rel="stylesheet" href="../stylesheets/style.css">

<div id="back">
    <div id="overlay">
        <img id="im" src="../images/—Pngtree—white twitter icon png_3562062.png" alt="">
        <h2>Twitter</h2>
        <p>Happening now</p>
        <div id="data">
            <a href="/reg" id="join">Join Now</a>
            <a href="/login">Log In</a>
            
        </div>
    </div>
</div>



<% include ./partials/footer.ejs %>